<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://cdn.discordapp.com/attachments/968347273459298318/1006864910552154224/1660125636397.jpg"  class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Baldelomar Neyra Matias Habib</p>
        <p> Full Stack Web Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, ipsam corrupti esse voluptates impedit eveniet eos, ab ipsum inventore cumque, commodi atque! Ratione molestiae ut atque, repellat doloremque consequuntur obcaecati!</p>
        </span>
    </div>
</div>
